h2 {
    margin-bottom: 0.2em;
}

.box {
    display: flex;
    flex-direction: column;

    width: auto;
    background: wheat;
}

.rowbox {
    display: flex;
    flex-direction: row;

    width: auto;
    background: wheat;
}
.overlay-box {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: auto;
    background: wheat;
}


.box-element {
    width: max-content;
    vertical-align: center;
    justify-items: center;

    margin: 0 10px 0 10px;
}

.inline-block {
    display: inline-block;
    width: 100%;
}

.section {
    padding: 5px 30px 5px 30px;
    margin: 20px 10px 20px 10px;
    background: wheat;
}

.task {
    margin: 10px 0 10px 0;
    padding-bottom: 6px;
    width: auto;
    background: lightgrey;
}

.task-header {
    padding: 3px 2px 3px 2px;
    height: fit-content;
}

.task-header-element {
    display: inline-block;
    padding: 3px 6px;
    height: fit-content;
    width: auto;
    margin: 0;
}

.inline-element {
    display: inline-block;
    padding: 3px 6px;
    height: auto;
    width: auto;
    margin: 3px;
}

.description {
    max-width: 70%;
    min-width: 50%;
}

.overlay-content {
    width: auto;
    height: auto;

    background: wheat;
    opacity: 1;
    z-index: 70;
}

.button {
    padding-top: 0;
    margin-top: -3px;
    margin-right: -2px;
}