h2 {
    margin-bottom: 0.2em;
}

.box {
    display: flex;
    flex-direction: column;

    width: auto;
    background: inherit;
}

.rowbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    align-items: center;
    width: auto;
    background: inherit;
}

.box-element {
    width: max-content;
    vertical-align: center;
    justify-items: center;

    margin: 0 10px 0 10px;
}

.inline-block {
    display: inline-block;
    width: 100%;
}

.inline-box {
    display: inline-flex;
}

.justify-space {
    justify-content: space-between;
}

.margin-left {
    margin-left: auto;
}

.margin-l6 {
    margin-left: 6px;
}

.margin-r6 {
    margin-right: 6px;
}

.section {
    padding: 5px 30px 5px 30px;
    margin: 20px 10px 20px 10px;
    background: wheat;
    border-radius: 20px;
}

.task {
    margin: 10px 0 10px 0;
    width: auto;
    background: lightgrey;
}

.task-header {
    padding: 3px 2px 3px 2px;
    height: fit-content;
}

.task-header-element {
    display: inline-block;
    padding: 3px 6px;
    height: fit-content;
    width: auto;
    margin: 0;
}

.margin-6 {
    margin: 6px;
}

.inline-element {
    display: inline-block;
    padding: 3px 6px;
    height: auto;
    width: auto;
    margin: 3px;
}

.desc-box {
    max-width: 70%;
    min-width: 50%;
    margin-left: 6px;
}

.description {
    padding-left: 6px;
    overflow-wrap: break-word;
}

.overlay-content {
    width: auto;
    height: auto;

    background: wheat;
    opacity: 1;
    z-index: 70;
}

.button {
    padding-top: 0;
    margin-top: -3px;
    margin-right: -2px;
}

.bottom {
    bottom: 0;
    margin: 0;
}