input {
    margin-bottom: 10px;
    display: block;
}

.rowbox {
    margin: auto 0 auto 0;
    align-items: flex-start;
}

.center {
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
}

.section {
    border: 1px solid #000;
}