body,h1,h2,h3,h4,h5,h6,a,tr,th {font-family: "Lato", sans-serif}

body {
    margin: 0;
}

a {
    text-decoration:none;
}

body {
    background-color:salmon;
}

.bar {
    width: 100%;
    overflow: hidden;
    margin:0;
    padding:0;

    top: 0;
    left: 0;
    right: 0;

    position: sticky;

    z-index: 100;
}

.bar .bar-element {
    padding:6px 12px;
    width: auto;
    float: left;
    display: block;
    outline: 0;
    white-space: normal;
}

.bar .bar-element.last-bar-element {
    margin-inline-end: 1cm;
}

.bar:before, .bar:after{content:"";display:table;clear:both}

.bar-element:hover {
    filter: brightness(85%);
}

.sidebar {
    height: 100%;
    width: 300px;
    top: 0;
    bottom: 0;
    left: 0;

    background-color: lightgrey;
    position: fixed;

    overflow-x: hidden;
    overflow-y: scroll;

    padding-top: 40px;
    z-index: 90;
}

.sidebar .sbar-element {
    width: auto;
    padding: 0 0 0 20px;
}

.sbar-element:hover {
    filter: brightness(85%);
}
.contentbox {
    margin-left: 300px;
}

.overlay {
    position: absolute;

    padding: 0;
    margin:0;

    width: 100%;
    height: 100%;

    z-index: 50;
    opacity: 0.25;
    background: black;
}

.text-center {
    text-align: center!important;
}

.text-right {
    text-align: right;
}

.padding {
    padding: 12px 24px!important;
}

.float-left {
    float: left!important;
}

.float-right {
    float: right!important;
}

.over {
    z-index: 1;
}

.fill {
    width:60%;
}

.red {
    background: tomato;
    color: white;
}

.black {
    background: black;
    color: white;
}

.dgrey {
    background: darkgrey;
    color: white;
}

.center {
    vertical-align: middle;
    min-width: max-content;
    max-width: 30%;
    margin: auto;
}

.margin-top{
    margin-top: 48px;
}

select {
    display: block;
    margin: 0 auto;
}