body,h1,h2,h3,h4,h5,h6,a,tr,th {font-family: "Lato", sans-serif}

body {
    margin: 0;
}

a {
    text-decoration:none;
}

body {
    background-color:salmon;
}

.bar {
    width: 100%;
    overflow: hidden;
    margin:0;
    padding:0;
}

.bar .bar-element {
    padding:6px 12px;
    width: auto;
    float: left;
    display: block;
    outline: 0;
    white-space: normal;
}

.bar .bar-element.last-bar-element {
    margin-inline-end: 1cm;
}

.bar:before, .bar:after{content:"";display:table;clear:both}

.bar-element:hover {
    filter: brightness(85%);
}

.navbar {
    position: sticky;
}

#tasklist {
    width: 80%;
}

.top {
    top: 0!important;
    position: fixed!important;
    width: 100%!important;
}

.left {
    left: 0!important;
    position: fixed!important;
}

.right {
    right: 0!important;
    position: fixed!important;
}

.text-center {
    text-align: center!important;
}

.text-right {
    text-align: right;
}

.padding {
    padding: 12px 24px!important;
}

.float-left {
    float: left!important;
}

.float-right {
    float: right!important;
}

.over {
    z-index: 1;
}

.fill {
    width:60%;
}

.red {
    background: tomato;
    color: white;
}

.black {
    background: black;
    color: white;
}

.dgrey {
    background: darkgrey;
    color: white;
}

.center {
    vertical-align: middle;
    min-width: max-content;
    max-width: 30%;
    margin: auto;
}

.margin-top{
    margin-top: 48px;
}

select {
    display: block;
    margin: 0 auto;
}